<html>
<style>
body {
	background-image: url("https://www.elsetge.cat/imagepost/b/54/544686_opensuse-wallpaper.jpg");
    background-repeat:no-repeat;
    background-size:cover;
} 

</style>
<body>
    <%= yield %>
</body>
</html>